<div class="container">
  <div class="row">
    <div class="col-2">
      <%= image_tag 'character_tougarashi.png', :size => '300x300' %>
    </div>
    <div class="col-8 mx-auto">
      <h2>無性に辛いものが食べたくなるのはなぜ？</h2><br>

      <h4>唐辛子のピリ辛の正体は舌の痛み<br></h4>

      <h5>唐辛子といえばピリッとした辛さが特長ですよね。<br>
      この正体はカプサイシンという辛味成分ですが、<br>
      基本的な5つの味（甘味、酸味、塩味、苦味、旨味）には入っていないんです。<br>

      実は、<strong>辛味は刺激の一種</strong>なんです！辛いものを食べると、<br>
      感覚神経にあるTRPV1（刺激を感じるセンサー）の働きが活発になって神経が興奮します。<br>
      このときに感じる痛みが辛味なのだそうです。<br>

      ちなみにTRPV1は、43度以上の熱、酸味などの刺激でも働きが活発になるそう。<br>
      「辛い」という言葉は、英語でhotと言いますね。hotは熱いという意味もありますが、この2つは同じメカニズムなんです！<h5>
    </div>
    <div class="text-center">
      ※激辛を食べ続けていると、辛さの耐性が付いてくる為、現在と初期の辛さレベルに若干のブレがあります。
      <table class="col mt-5">
        <tr>
          <td><%= image_tag 'レベル１.png' %></td>
          <td>
            程よいピリ辛程度で辛いものが苦手な方は、ここのレベルから食べ始めるのがオススメ♪
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'レベル２.png' %></td>
          <td>
            食べてるとほんのり汗がでてくる。一般的においしく食べれるレベルです。
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'レベル３.png' %></td>
          <td>
            素材本来の旨味と辛味を程よく感じながら、激辛料理を楽しむことが出来る。
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'レベル４.png' %></td>
          <td>
            辛さの耐性がついていないと、ただ辛いだけと感じてしまう。<br>
            辛さの限界の向こう側にある旨味と出会える様に修行しましょう。
          </td>
        </tr>
        <tr>
          <td><%= image_tag 'レベル５.png' %></td>
          <td>
            誓約書を書かないと挑戦出来なかったり、胃痛に襲われる場合もある激辛メニュー。<br>
            遊び半分で挑戦すると、地獄を見る。
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>