<div id="score_<%= review.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#score_<%= review.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('fire1.jpg') %>",
    starOff: "<%= asset_path('fire0.jpg') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= review.score %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>