<h1>新規投稿フォーム</h1>
<%= render 'layouts/errors', obj: @review %>
<%= form_with model: @review do |f| %>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>タイトル</h4>
    <%= f.text_field :title %>

  <h4>店名</h4>
    <%= f.text_field :store_name %>

  <h4>住所</h4>
    <%= f.text_field :address %>

  <h4>値段</h4>
    <%= f.text_field :price %>

  <h4>辛さレベル</h4>
  <% if @review.id.nil? %>
    <div class="form-group" id="score">
      <%= f.label :score %>
      <%= f.hidden_field :score, id: :review_score, class: 'form-control' %>
      <div id="post_raty"></div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('fire1.jpg') %>",
          starOff: "<%= asset_path('fire0.jpg') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'review[score]',
        };
        raty(elem, opt);
      });
    </script>
  <% else %>
    <div class="form-group">
      <%= render "rate", review: @review %>
    </div>
  <% end %>

  <h4>タグ</h4>
    <%= f.text_field :category_name %>
    <%= f.submit 'タグ追加' %>


  <h4>投稿内容</h4>
  <%= f.text_area :explanation %>

  <%= f.submit '投稿' %>
<% end %>


