<h2>商品画像</h2>
<div>
  <%= image_tag @review.get_image(350,300) %>
</div>
<h2>タイトル</h2>
<%= render 'public/favorites/btn', review: @review %>
コメント数： <%= @review.review_comments.count %>
<p><%= @review.title %></p>


<h2>店名</h2>
<p><%= @review.store_name %></p>

<h2>住所</h2>
<p><%= @review.address %></p>

<h2>値段</h2>
<p><%= @review.price %></p>

<h2>辛さレベル</h2>
<p><%= @review.score %></p>

<h2>投稿内容</h2>
<p><%= @review.explanation %></p>

<% if @review.user == current_user %>
 <%= link_to "編集", edit_review_path(@review.id) %>
 <%= link_to "削除", review_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>

<%= render "public/review_comments/index", review: @review %>
<%= render "public/review_comments/form", review: @review, review_comment: @review_comment %>