<div class="container pt-3">
  <%= render "layouts/errors", obj: resource %>
  <div class="row">
    <div class="col-10 mt-5 mb-5">
      <h4><span class="col ml-4">新規会員登録</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto ">
      <%= form_with model: @user, url: user_registration_path do |f| %>
        <div class="form-group form-inline form-group row">
          <%= f.label :name, "名前", class:"col-3 justify-content-start" %><br>
          <%= f.text_field :name, class:"form-control col-2 mr-4 border border-dark", autofocus: true, :placeholder => "名前" %>
        </div>

        <div class="form-group form-inline form-group row">
          <%= f.label :email, "メールアドレス", class:"col-3 justify-content-start " %>
          <%= f.email_field :email, class:"form-control col-2 border border-dark", autofocus: true, autocomplete: "email", :placeholder => "sample@exmple.com" %>
        </div>

        <div class="form-group form-inline form-group row">
          <%= f.label :password, "パスワード(6文字以上)", class:"col-3 justify-content-start " %>
          <% if @minimum_password_length %>

          <% end %><br />
          <%= f.password_field :password, class:"form-control col-2 border border-dark", autocomplete: "new-password" %>
        </div>

        <div class="form-group form-inline form-group row">
          <%= f.label :password_confirmation, "パスワード(確認用)", class:"col-3 justify-content-start " %>
          <%= f.password_field :password_confirmation, class:"form-control col-2 border border-dark", autocomplete: "new-password" %>
        </div>

        <div class="form-group form-inline form-group row">
          <%= f.submit "新規登録", class:"form-control btn btn-success mt-3 px-5 py-1 col-2 offset-3" %>
        </div>
      <% end %>
    </div>
  </div>

  <h5><span class="col-10 ml-5">ゲストでログインする</span></h5>
  <div class="col-8 py-3 ml-5">
    <h5 class="ml-5 pl-5"><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'btn btn-secondary btn-space'%></h5>
  </div>
  <h5><span class="col-10 ml-5">既に登録済みの方</span></h5>
  <div class="col-8 py-3 ml-5">
    <div class="ml-5 pl-5 mt-3">
      <span><strong><%= link_to " こちら ", new_user_session_path %>からログインしてください。</strong></span>
    </div>
  </div>
</div>
