<!DOCTYPE html>
<html>
  <head>
    <title>Karamimi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <script src="https://kit.fontawesome.com/25efbb1178.js" crossorigin="anonymous"></script>

    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
        .fas{
            font-size:25px;
        }
    </style>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header class="sticky-top">
      <%= render 'layouts/header' %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="mt-auto bg-light">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
