<!DOCTYPE html>
<html>
  <head>
    <title>Karamimi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <script src="https://kit.fontawesome.com/25efbb1178.js" crossorigin="anonymous"></script>

    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="signup-wrapper">
      <header>
        <%= render 'layouts/header' %>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </body>
</html>
